@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap");

@font-face {
  font-family: "Ceria Lebaran";
  src: url(./font/Ceria\ Lebaran.otf);
}

:root {
  --background: #d9501c;
  --background-2nd: #e17349;
  --background-3rd: #bc603b;
  --button-accents: #ffe600;
  --primary-text: #281203;
  --secondary-text: #211e00;
  --primary-font: "Ceria Lebaran";
  --secondary-font: "Inknut Antiqua";
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

body {
  background: var(--background) !important;
  /* background-image: url(./images/root-background.svg) !important; */
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.containers {
  width: 85%;
  margin: auto;
}

/* hero */

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-bg .hero-bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -999;
}

.hero-bg .hero-bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  display: none;
  z-index: -999;
}

.hero-bg .hero-bg-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  display: none;
  z-index: -999;
}

#hero-bg-center {
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

#hero-desert-left {
  position: absolute;
  top: 400px;
  left: -150px;
  z-index: 111;
  width: 80%;
}

#hero-desert-right {
  position: absolute;
  top: 550px;
  right: -250px;
  z-index: 1;
  width: 80%;
}

.moon {
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translateX(-55%);
  z-index: -1;
}

.moon img {
  width: 80%;
  pointer-events: none;
}

.hero-cloud {
  z-index: 9999 !important;
}

.hero-cloud img {
  position: absolute;
  pointer-events: none;
  z-index: 9999 !important;
}

#hero-cloud-left {
  left: 0px;
  top: 200px;
  pointer-events: none;
}

#hero-cloud-right {
  right: 0px;
  top: 150px;
  pointer-events: none;
}

.navbar {
  z-index: 999999 !important;
  transition: 0.5s;
}

.navbar-nav li a {
  color: var(--white);
  font-size: 14px;
  transition: 0.5s;
}

.navbar-nav li a:hover {
  color: var(--button-accents);
}

.navbar-toggler {
  box-shadow: none !important;
  outline: none !important;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  border: none;
}

.navbars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navbars ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navbars ul li:nth-child(1) {
  margin-left: 0;
}

.navbars ul li {
  margin-left: 20px;
}

.navbars ul li img {
  width: 40px;
}

.navbars ul .navbars-icons {
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: 0.5s;
}

.navbars ul .navbars-icons:hover {
  border: 2px solid var(--button-accents);
}

.navbars ul .switch {
  position: relative;
  width: 100px;
  height: 40px;
  font-size: 13px;
  border-radius: 6px;
}

.navbars ul .switch input {
  appearance: none;
  width: 100px;
  height: 40px;
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: 0.5s;
}

.switch input::before,
.switch input::after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
}

.switch input::before {
  content: "ENG";
  left: 8px;
}

.switch input::after {
  content: "AR";
  right: 8px;
}

.switch label {
  z-index: 1;
  position: absolute;
  top: 4px;
  bottom: 4px;
  border-radius: 8px;
}

.switch input {
  transition: 0.25s;
}

.switch input:checked::after,
.switch input:checked::before {
  color: var(--white);
  transition: color 0.5s;
}

.switch input:checked::before {
  color: var(--secondary-text);
  transition: color 0.5s;
}

.switch input:checked + label {
  left: 4px;
  right: 0;
  width: 40px;
  background: var(--button-accents);
  transition: width 0.5s;
}

.switch input:not(:checked)::before {
  color: var(--white);
  transition: color 0.5s;
}

.switch input:not(:checked)::after {
  color: var(--secondary-text);
  transition: color 0.5s;
}

.switch input:not(:checked) + label {
  width: 40px;
  right: 4px;
  background-color: var(--button-accents);
  transition: width 0.5s;
}

.logo {
  z-index: 9999 !important;
}

/* navbar */

/* hero */

#hero {
  position: relative;
  height: 4500px;
  overflow: hidden;
}

.hero-bg {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.hero-bg .hero-bg-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -999;
}

.hero-bg-center {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

.hero-bg-left {
  position: absolute;
  top: 300px;
  left: -200px;
  z-index: 111;
  width: 80%;
}

.hero-bg-right {
  position: absolute;
  top: 350px;
  right: -250px;
  z-index: 1;
  width: 80%;
}

.moon {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translateX(-55%);
  z-index: -1;
}

.moon img {
  width: 80%;
}

.hero-cloud img {
  position: absolute;
}

#hero-cloud-left {
  left: -400px;
  top: 200px;
}

#hero-cloud-right {
  right: -400px;
  top: 150px;
}

/* hero bird */

.hero-bird img {
  position: absolute;
}

#hero-left-bird {
  bottom: 300px;
  left: -150px;
}

#hero-right-bird {
  top: 100px;
  right: -150px;
}

/* hero content */

.hero-text {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.hero-text h1 {
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 3em;
}

.hero-text h1 span {
  color: var(--button-accents);
}

.hero-text p {
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1em;
}

.hero-btn {
  margin: 70px 0 80px;
}

.hero-btn a {
  text-decoration: none;
  color: var(--secondary-text);
  padding: 6px 30px;
  background: var(--button-accents);
  border: 1px solid var(--button-accents);
  box-shadow: 0px 10px 40px rgba(255, 230, 0, 0.5),
    inset -4px -4px 12px rgba(0, 0, 0, 0.15),
    inset 4px 4px 8px rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.hero-btn a:hover {
  color: var(--secondary-text);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 15px 40px rgba(255, 230, 0, 0.7),
    inset -4px -4px 12px rgba(0, 0, 0, 0.15),
    inset 4px 4px 8px rgba(255, 255, 255, 0.5);
}

.hero-social-icons a {
  text-decoration: none;
  margin: 0 10px;
}

.hero-social-icons a img {
  width: 45px;
  transition: 0.5s;
}

.hero-social-icons a img:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 2200px) {
  #hero-bg-center {
    top: -20px;
  }
}

@media screen and (max-width: 2000px) {
  #hero-bg-center {
    top: -40px;
  }

  #hero-desert-left {
    top: 300px;
    left: -150px;
  }

  #hero-desert-right {
    top: 450px;
    right: -250px;
  }

  .moon {
    top: 55%;
  }
}

@media screen and (max-width: 1800px) {
  #hero-bg-center {
    top: -20px;
  }

  #hero-desert-left {
    top: 300px;
    left: -100px;
  }

  #hero-desert-right {
    top: 400px;
    right: -200px;
  }
}

@media screen and (max-width: 1400px) {
  #hero-bg-center {
    top: 80px;
  }

  #hero-desert-left {
    top: 400px;
    left: -80px;
  }

  #hero-desert-right {
    top: 500px;
    right: -200px;
  }
}

@media screen and (max-width: 1200px) {
  #hero-bg-center {
    top: 200px;
  }

  #hero-desert-left {
    top: 500px;
    left: -60px;
  }

  #hero-desert-right {
    top: 550px;
    right: -130px;
  }
}

@media screen and (max-width: 990px) {
  .hero-bg .hero-bg-1 {
    display: none;
  }

  .hero-bg .hero-bg-2 {
    display: block;
  }

  #hero-bg-center {
    top: 800px;
  }

  #hero-desert-left {
    top: 1000px;
    left: -80px;
  }

  #hero-desert-right {
    top: 1050px;
    right: -130px;
  }

  .moon {
    top: 76%;
  }

  .hero-text h1 {
    font-size: 2.5em;
  }

  .hero-text p {
    font-size: 1em;
  }

  .hero-btn {
    margin: 70px 0 80px;
  }

  .hero-btn a {
    padding: 3px 15px;
  }
}

@media screen and (max-width: 768px) {
  #hero-bg-center {
    top: 550px;
  }

  #hero-desert-left {
    top: 700px;
    left: -70px;
  }

  #hero-desert-right {
    top: 750px;
    right: -110px;
  }

  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text p {
    font-size: 0.9em;
  }

  .hero-btn {
    margin: 50px 0 60px;
  }
}

@media screen and (max-width: 575px) {
  .hero-bg .hero-bg-2 {
    display: none;
  }

  .hero-bg .hero-bg-3 {
    display: block;
  }

  #hero-bg-center {
    top: 600px;
  }

  #hero-desert-left {
    top: 700px;
    left: -40px;
  }

  #hero-desert-right {
    top: 750px;
    right: -70px;
  }

  .moon {
    top: 85%;
  }

  .hero-text h1 {
    font-size: 1.3em;
  }

  .hero-text p {
    font-size: 12px;
  }

  .hero-btn {
    margin: 50px 0 60px;
  }
}

/* hero */

/* habibi image gallery */

#habibi-image-gallery {
  background: url(./images/hero-desert-2.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0 0 0;
  z-index: 9999;
  overflow: hidden;
  margin-top: -200px;
}

.gallery-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px 0 0;
}

.gallery-content img {
  width: 100%;
  padding: 10px 5px;
}

.gallery-content img:nth-child(1) {
  padding-top: 0px;
}
.gallery-content img:nth-child(2) {
  margin-top: -55px !important;
}
.gallery-content img:nth-child(3) {
  padding-top: 0px;
}
.gallery-content img:nth-child(4) {
  margin-top: -55px !important;
}
.gallery-content img:nth-child(5) {
  padding-top: 0px;
}
.gallery-content img:nth-child(6) {
  padding-top: 0px;
}
.gallery-content img:nth-child(7) {
  margin-top: -55px !important;
}
.gallery-content img:nth-child(8) {
  padding-top: 0px;
}
.gallery-content img:nth-child(9) {
  margin-top: -55px !important;
}
.gallery-content img:nth-child(10) {
  padding-top: 0px;
}

.scroll-text-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: var(--button-accents);
  padding: 20px;
  transform: rotate(-3deg);
  margin-bottom: 50px;
}

.scroll-text {
  font-size: 1.4em;
  white-space: nowrap;
  font-weight: 600;
  animation: scrollText 20s linear infinite;
  animation-delay: -40s;
}

@keyframes scrollText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.scroll-text img {
  margin: 0 80px;
  pointer-events: none;
}

@media screen and (max-width: 1600px) {
  #habibi-image-gallery {
    margin-top: -150px;
  }

  .scroll-text-wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1400px) {
  #habibi-image-gallery {
    margin-top: -100px;
  }

  .scroll-text-wrapper {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1200px) {
  #habibi-image-gallery {
    margin-top: -100px;
  }

  .scroll-text-wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 990px) {
  #habibi-image-gallery {
    margin-top: -180px;
  }

  .gallery-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5);
    padding: 30px 0;
  }

  .navbar {
    background-color: #bc603b !important;
    padding: 0 !important;
  }

  .scroll-text-wrapper {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  #habibi-image-gallery {
    margin-top: -200px;
  }

  .scroll-text-wrapper {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .gallery-content img {
    width: 100%;
    padding: 3px 1px;
  }

  .gallery-content img:nth-child(1) {
    padding-top: 0px;
  }
  .gallery-content img:nth-child(2) {
    margin-top: -35px !important;
  }
  .gallery-content img:nth-child(3) {
    padding-top: 0px;
  }
  .gallery-content img:nth-child(4) {
    margin-top: -35px !important;
  }
  .gallery-content img:nth-child(5) {
    padding-top: 0px;
  }
  .gallery-content img:nth-child(6) {
    padding-top: 0px;
  }
  .gallery-content img:nth-child(7) {
    margin-top: -35px !important;
  }
  .gallery-content img:nth-child(8) {
    padding-top: 0px;
  }
  .gallery-content img:nth-child(9) {
    margin-top: -35px !important;
  }
  .gallery-content img:nth-child(10) {
    padding-top: 0px;
  }
}

@media screen and (max-width: 550px) {
  #habibi-image-gallery {
    margin-top: -80px;
    padding: 70px 0 0 0;
  }

  .scroll-text-wrapper {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 420px) {
  #habibi-image-gallery {
    margin-top: -150px;
  }
}

@media screen and (max-width: 400px) {
  #habibi-image-gallery {
    margin-top: -120px;
  }

  .scroll-text-wrapper {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 380px) {
  #habibi-image-gallery {
    margin-top: -80px;
  }
}

/* habibi image gallery */

/* about us */

#about {
  z-index: 100 !important;
  margin-top: -100px;
  padding: 150px 0 0;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
}

.about-cloud img {
  position: absolute;
  pointer-events: none;
  z-index: 9;
  pointer-events: none;
}

#about-cloud-left {
  left: -800px;
  bottom: 0;
}

#about-cloud-right {
  right: -800px;
  top: 0;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px 0;
}

.about-header h4 {
  margin-bottom: 0;
  color: var(--button-accents);
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.about-header div {
  width: 100px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--button-accents);
  margin: 0 20px;
}

.about-content {
  padding: 60px 0 100px;
}

.about-text p {
  color: var(--white);
  font-family: var(--white);
  font-size: 1.4em;
  margin-bottom: 0;
  text-align: center;
  padding: 0 100px;
}

@media screen and (max-width: 990px) {
  #about {
    padding: 100px 0 0;
  }

  .about-cloud {
    display: none;
  }

  .about-text p {
    padding: 0;
    font-size: 1em;
  }

  .about-header h4 {
    font-size: 1em;
  }

  .about-header div {
    width: 70px;
  }
}

/* about us */

/* feature */

#feature {
  position: relative;
  width: 100%;
  background-image: url(./images/feature-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  overflow: hidden;
  background-color: var(--background);
  z-index: 1;
}

.feature-camels {
  text-align: center;
  padding-right: 100%;
  pointer-events: none;
}

.feature-image {
  position: absolute;
  z-index: 1;
}

.feature-dates-tree-img {
  position: absolute;
  /* top: 3%; */
  left: 18%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}

.feature-building {
  position: absolute;
  /* top: 2%; */
  right: 18%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}

.feature-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 30px 0;
}

.feature-title h4 {
  margin-bottom: 0;
  color: var(--button-accents);
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.feature-title div {
  width: 100px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--button-accents);
  margin: 0 20px;
}

.feature-header {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1.6em;
  margin-bottom: 10px;
}

.feature-card {
  position: relative;
  background-color: rgba(40, 18, 3, 0.5);
  border-radius: 8px;
  padding: 30px 20px 50px;
  margin-top: 30px;
  overflow: hidden;
  border: 3px solid rgba(40, 18, 3, 0.1);
  transition: 0.5s;
}

.feature-card:hover {
  background-color: rgba(40, 18, 3, 0.8);
  border: 3px solid var(--button-accents);
}

.feature-card .card-icon {
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}

.feature-card h4 {
  font-family: var(--secondary-font);
  color: var(--button-accents);
  font-size: 1.1em;
  text-align: center;
  margin: 20px 0;
}

.feature-card p {
  color: var(--white);
  font-family: var(--secondary-font);
  font-size: 14px;
  text-align: center;
}

.card-image .card-bottom-image {
  position: absolute;
  bottom: 0;
  width: 50px;
  animation: bounchOpacity 4s alternate infinite;
  transition: 0.5s;
  pointer-events: none;
}

@keyframes bounchOpacity {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.card-image .card-bottom-image.img-1 {
  left: 30px;
  opacity: 0.4;
}

.card-image .card-bottom-image.img-2 {
  right: 30px;
}

.card-image .card-bottom-image.cactus {
  opacity: 0.4;
}

.card-image .card-bottom-image.img-3 {
  left: 80px;
  opacity: 0.4;
}

.card-image .card-bottom-image.camel-scale {
  transform: scale(0.8);
  bottom: -5px;
}

.card-image .card-bottom-image.img-2.cactus {
  width: 30px;
}

.card-image .card-bottom-image.card-img-tree {
  width: 40px;
}

@media screen and (max-width: 1800px) {
  .feature-camel-img img {
    width: 80%;
  }
}

@media screen and (max-width: 1600px) {
  .feature-building-img .parallax-tree {
    position: absolute;
    left: 15%;
    z-index: -1;
    bottom: 330px;
  }

  .feature-building-img .parallax-building {
    position: absolute;
    right: 20%;
    z-index: -1;
    bottom: 330px;
  }
}

@media screen and (max-width: 1400px) {
  .feature-camel-img {
    padding-top: 40px;
  }

  .feature-building-img .parallax-tree {
    position: absolute;
    left: 15%;
    z-index: -1;
    bottom: 390px;
  }

  .feature-building-img .parallax-building {
    position: absolute;
    right: 20%;
    z-index: -1;
    bottom: 390px;
  }
}

@media screen and (max-width: 990px) {
  #feature {
    padding: 0 0 100px;
    /* background-image: none; */
  }

  .feature-camels {
    display: none;
  }

  .feature-building-img {
    display: none;
  }
}

/* feature */

/* roadmap */

#roadmap {
  padding: 100px 0 70px;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
}

.roadmap-cloud img {
  position: absolute;
  pointer-events: none;
  z-index: 9;
}

#roadmap-cloud-left {
  left: -800px;
  bottom: 0;
}

#roadmap-cloud-right {
  right: -800px;
  top: 0;
}

.roadmap-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
}

.roadmap-title h4 {
  margin-bottom: 0;
  color: var(--button-accents);
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.roadmap-title div {
  width: 100px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--button-accents);
  margin: 0 20px;
}

.roadmap-header {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1.6em;
}

.roadmap-lesso-img {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.roadmap-lesso-img img {
  width: 100%;
  height: 1300px;
  pointer-events: none;
}

.roadmap-timeline {
  position: relative;
  margin: 50px auto;
  padding: 20px 0 40px;
  width: 1000px;
}

.roadmap-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.roadmap-line img {
  width: 90px;
  pointer-events: none;
}

.roadmap-timeline .roadmap-ul {
  margin: 0;
  padding: 0;
}

.roadmap-timeline .roadmap-ul .roadmap-li {
  position: relative;
  list-style: none;
  width: 50%;
  padding: 20px 40px;
}

.roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) {
  float: left;
  text-align: right;
  clear: both;
  margin-top: 80px !important;
}

.roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) {
  float: right;
  text-align: left;
  margin-top: 80px;
  clear: both;
}

.roadmap-content {
  padding-bottom: 20px;
}

.roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) .roadmap-content {
  padding-left: 80px;
  color: var(--white);
}

.roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) .roadmap-content {
  padding-right: 80px;
  color: var(--white);
}

.roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) .roadmap-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -350px;
}

.roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) .roadmap-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -350px;
}

.roadmap-image img {
  transition: 0.5s;
}

.roadmap-ul .roadmap-li:nth-child(even) .roadmap-image img:hover {
  transform: rotate(-8deg) scale(1.1);
}

.roadmap-ul .roadmap-li:nth-child(odd) .roadmap-image img:hover {
  transform: rotate(8deg) scale(1.1);
}

.roadmap-content h4 {
  font-size: 1.6em;
  margin-bottom: 15px;
}

.roadmap-content-ul {
  padding: 0;
  margin: 0;
}

.roadmap-content-ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  font-size: 14px;
  color: rgb(212, 211, 211);
  font-weight: 300;
}

.roadmap-right-ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--button-accents);
  border-radius: 50%;
  top: 7px;
  left: -15px;
}

.roadmap-left-ul li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--button-accents);
  border-radius: 50%;
  top: 10px;
  right: -15px;
}

@media screen and (max-width: 1200px) {
  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) {
    margin-top: 50px;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) {
    margin-top: 50px;
  }

  .roadmap-timeline {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  #roadmap {
    padding-bottom: 0;
  }

  .roadmap-cloud {
    display: none;
  }

  .roadmap-lesso-img {
    display: none;
  }

  .roadmap-line {
    display: none;
  }

  .roadmap-timeline {
    width: 350px;
    display: flex;
    margin-top: 0;
    justify-content: center;
  }

  .roadmap-content h4 {
    font-size: 1.4em;
  }

  .roadmap-timeline::before {
    display: none;
  }

  .roadmap-timeline::after {
    display: none;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li {
    width: 100%;
    padding: 20px 40px;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) {
    float: left;
    text-align: left;
    clear: none;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) {
    float: left;
    text-align: left;
    clear: none;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) .roadmap-content {
    padding-left: 0;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) .roadmap-content {
    padding-right: 20px;
    color: var(--white);
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(odd) .roadmap-image {
    position: relative;
    left: 0px;
    right: 0 !important;
    top: 50px;
    display: inline;
  }

  .roadmap-timeline .roadmap-ul .roadmap-li:nth-child(even) .roadmap-image {
    position: relative;
    left: 0px;
    right: 0 !important;
    top: 50px;
    display: inline;
  }

  .roadmap-right-ul li::before {
    background-color: var(--button-accents);
    border-radius: 50%;
    top: 7px;
    left: -10px;
  }

  .roadmap-left-ul li::before {
    top: 10px;
    left: -10px;
  }
}

/* roadmap */

/* benefits */

#benefits {
  background: url(./images/benefits-bg.svg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
}

.benefits-camels {
  text-align: center;
  /* padding-left: 100%; */
  pointer-events: none;
}

.benefits-parallax-building {
  position: absolute;
  left: 15%;
  z-index: -1;
  top: -70px;
  pointer-events: none;
}

.benefits-parallax-tree {
  position: absolute;
  right: 25%;
  z-index: -1;
  top: -70px;
  pointer-events: none;
}

.benefits-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 30px 0;
}

.benefits-title h4 {
  margin-bottom: 0;
  color: var(--button-accents);
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.benefits-title div {
  width: 100px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--button-accents);
  margin: 0 20px;
}

.benefits-header {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1.6em;
  margin-bottom: 50px;
}

.faq-container {
  width: 50%;
  margin: auto;
}

.wrapper {
  width: 950px;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='130' viewBox='0 0 100%25 130' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64608 14.9617C4.43987 10.4007 8.26056 6.98087 12.8813 6.69538L121.25 0L237.5 7.18232L353.75 10.7735L470 7.18232L586.25 3.59116L702.5 7.18232L818.75 14.3646L925.756 7.75344C930.972 7.43118 935.557 11.1794 936.277 16.3554L938.808 34.5326C938.935 35.4475 938.935 36.3757 938.808 37.2906L935 64.6409L931.192 91.9912C931.065 92.9061 931.065 93.8342 931.192 94.7492L933.52 111.471C934.32 117.216 930.081 122.434 924.294 122.827L818.75 130L702.5 122.099L586.25 117.79L470 122.099L353.75 115.635L237.5 122.099L121.25 130L16.0776 122.852C10.156 122.45 5.88608 117.008 6.90376 111.161L9.70159 95.0848C9.89905 93.9502 9.89905 92.7901 9.70159 91.6556L5 64.6409L0.298408 37.6262C0.100953 36.4917 0.100953 35.3315 0.298408 34.197L3.64608 14.9617Z' fill='%23BC603B'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: top bottom;
  background-size: cover;
  margin-bottom: 20px;
  padding: 25px 40px;
  transition: 0.5s;
}

.wrapper:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='130' viewBox='0 0 100%25 130' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64608 14.9617C4.43987 10.4007 8.26056 6.98087 12.8813 6.69538L121.25 0L237.5 7.18232L353.75 10.7735L470 7.18232L586.25 3.59116L702.5 7.18232L818.75 14.3646L925.756 7.75344C930.972 7.43118 935.557 11.1794 936.277 16.3554L938.808 34.5326C938.935 35.4475 938.935 36.3757 938.808 37.2906L935 64.6409L931.192 91.9912C931.065 92.9061 931.065 93.8342 931.192 94.7492L933.52 111.471C934.32 117.216 930.081 122.434 924.294 122.827L818.75 130L702.5 122.099L586.25 117.79L470 122.099L353.75 115.635L237.5 122.099L121.25 130L16.0776 122.852C10.156 122.45 5.88608 117.008 6.90376 111.161L9.70159 95.0848C9.89905 93.9502 9.89905 92.7901 9.70159 91.6556L5 64.6409L0.298408 37.6262C0.100953 36.4917 0.100953 35.3315 0.298408 34.197L3.64608 14.9617Z' fill='%2328120380'/%3E%3C/svg%3E%0A");
}

.toggle {
  width: 100%;
  height: 80px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: var(--white);
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}

.content {
  color: var(--white);
  font-size: 14px;
  font-family: var(--secondary-font);
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

@media screen and (max-width: 1800px) {
  .wrapper {
    width: 750px;
    background-image: url("data:image/svg+xml,%3Csvg width='680' height='120' viewBox='0 0 680 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5308 14.6135C3.16709 9.95338 6.9649 6.36648 11.6538 5.99722L87.0211 0.0618285C87.5437 0.0206731 88.0687 0.0206733 88.5913 0.0618287L171.991 6.62983L256.177 9.94475L340.362 6.62983L424.547 3.31492L508.733 6.62983L592.133 13.1978C592.656 13.239 593.181 13.239 593.703 13.1978L667.431 7.39157C672.819 6.9672 677.57 10.9016 678.157 16.2749L679.881 32.0633C679.96 32.7851 679.96 33.5133 679.881 34.235L677.103 59.6685L674.325 85.102C674.246 85.8238 674.246 86.5519 674.325 87.2737L675.993 102.541C676.602 108.119 672.505 113.106 666.915 113.59L593.781 119.925C593.207 119.975 592.629 119.975 592.055 119.925L508.733 112.707L424.547 108.729L340.362 112.707L256.177 106.74L171.991 112.707L88.6692 119.925C88.0949 119.975 87.5174 119.975 86.9431 119.925L14.0871 113.614C8.39212 113.121 4.26875 107.962 5.04207 102.298L7.05704 87.5407C7.17961 86.6429 7.17961 85.7327 7.05704 84.835L3.62087 59.6685L0.18471 34.502C0.0621386 33.6043 0.0621386 32.6941 0.18471 31.7964L2.5308 14.6135Z' fill='%23BC603B'/%3E%3C/svg%3E ");
    margin: 0 auto 20px;
  }

  .wrapper:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='680' height='120' viewBox='0 0 680 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5308 14.6135C3.16709 9.95338 6.9649 6.36648 11.6538 5.99722L87.0211 0.0618285C87.5437 0.0206731 88.0687 0.0206733 88.5913 0.0618287L171.991 6.62983L256.177 9.94475L340.362 6.62983L424.547 3.31492L508.733 6.62983L592.133 13.1978C592.656 13.239 593.181 13.239 593.703 13.1978L667.431 7.39157C672.819 6.9672 677.57 10.9016 678.157 16.2749L679.881 32.0633C679.96 32.7851 679.96 33.5133 679.881 34.235L677.103 59.6685L674.325 85.102C674.246 85.8238 674.246 86.5519 674.325 87.2737L675.993 102.541C676.602 108.119 672.505 113.106 666.915 113.59L593.781 119.925C593.207 119.975 592.629 119.975 592.055 119.925L508.733 112.707L424.547 108.729L340.362 112.707L256.177 106.74L171.991 112.707L88.6692 119.925C88.0949 119.975 87.5174 119.975 86.9431 119.925L14.0871 113.614C8.39212 113.121 4.26875 107.962 5.04207 102.298L7.05704 87.5407C7.17961 86.6429 7.17961 85.7327 7.05704 84.835L3.62087 59.6685L0.18471 34.502C0.0621386 33.6043 0.0621386 32.6941 0.18471 31.7964L2.5308 14.6135Z' fill='%2328120380'/%3E%3C/svg%3E ");
  }
}

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 550px;
    background-image: url("data:image/svg+xml,%3Csvg width='450' height='110' viewBox='0 0 450 110' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.59976 14.157C2.06385 9.44875 5.76392 5.70997 10.4671 5.19691L57.0226 0.118299C57.7434 0.0396661 58.4706 0.0396661 59.1915 0.118299L113.818 6.07735L169.529 9.11602L225.24 6.07735L280.95 3.03867L336.661 6.07735L391.288 12.0364C392.009 12.115 392.736 12.115 393.457 12.0364L437.84 7.19478C443.447 6.58313 448.45 10.7269 448.893 16.3497L449.938 29.6006C449.979 30.1239 449.979 30.6496 449.938 31.1729L448.083 54.6961L446.228 78.2194C446.187 78.7427 446.187 79.2684 446.228 79.7916L447.328 93.7439C447.75 99.0917 443.877 103.82 438.551 104.459L393.564 109.857C392.772 109.952 391.972 109.952 391.181 109.857L336.661 103.315L280.95 99.6685L226.056 103.261C225.513 103.297 224.967 103.288 224.426 103.235L170.506 97.9412C169.856 97.8774 169.201 97.8774 168.552 97.9412L113.818 103.315L59.2984 109.857C58.507 109.952 57.7071 109.952 56.9156 109.857L12.1169 104.481C6.71533 103.833 2.82289 98.9858 3.35656 93.5717L4.69564 79.9865C4.75995 79.3341 4.75995 78.677 4.69564 78.0246L2.39617 54.6961L0.0966909 31.3677C0.0323861 30.7153 0.0323862 30.0582 0.096691 29.4058L1.59976 14.157Z' fill='%23BC603B'/%3E%3C/svg%3E%0A");
    margin: 0 auto 20px;
  }

  .wrapper:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='450' height='110' viewBox='0 0 450 110' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.59976 14.157C2.06385 9.44875 5.76392 5.70997 10.4671 5.19691L57.0226 0.118299C57.7434 0.0396661 58.4706 0.0396661 59.1915 0.118299L113.818 6.07735L169.529 9.11602L225.24 6.07735L280.95 3.03867L336.661 6.07735L391.288 12.0364C392.009 12.115 392.736 12.115 393.457 12.0364L437.84 7.19478C443.447 6.58313 448.45 10.7269 448.893 16.3497L449.938 29.6006C449.979 30.1239 449.979 30.6496 449.938 31.1729L448.083 54.6961L446.228 78.2194C446.187 78.7427 446.187 79.2684 446.228 79.7916L447.328 93.7439C447.75 99.0917 443.877 103.82 438.551 104.459L393.564 109.857C392.772 109.952 391.972 109.952 391.181 109.857L336.661 103.315L280.95 99.6685L226.056 103.261C225.513 103.297 224.967 103.288 224.426 103.235L170.506 97.9412C169.856 97.8774 169.201 97.8774 168.552 97.9412L113.818 103.315L59.2984 109.857C58.507 109.952 57.7071 109.952 56.9156 109.857L12.1169 104.481C6.71533 103.833 2.82289 98.9858 3.35656 93.5717L4.69564 79.9865C4.75995 79.3341 4.75995 78.677 4.69564 78.0246L2.39617 54.6961L0.0966909 31.3677C0.0323861 30.7153 0.0323862 30.0582 0.096691 29.4058L1.59976 14.157Z' fill='%2328120380'/%3E%3C/svg%3E%0A");
  }
}

@media screen and (max-width: 1050px) {
  .wrapper {
    width: 440px;
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='90' viewBox='0 0 300 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.951656 13.013C1.32852 8.32072 4.92687 4.52663 9.5926 3.90199L37.4111 0.177653C38.2918 0.0597437 39.1843 0.0597437 40.065 0.177653L75.8786 4.97238L113.019 7.45856L150.16 4.97238L187.3 2.48619L224.441 4.97238L260.255 9.7671C261.135 9.88501 262.028 9.88501 262.908 9.7671L288.103 6.3941C293.845 5.62526 299.038 9.88241 299.409 15.6645L300 24.8619L298.722 44.7514L297.444 64.6409L298.131 75.338C298.465 80.5323 294.758 85.1141 289.609 85.8725L263.038 89.7854C262.072 89.9277 261.091 89.9277 260.125 89.7854L224.441 84.5304L188.101 81.6113C187.568 81.5685 187.033 81.5685 186.5 81.6113L151.16 84.45C150.495 84.5035 149.826 84.4902 149.163 84.4103L114.215 80.1994C113.421 80.1036 112.618 80.1036 111.823 80.1994L75.8786 84.5304L40.195 89.7854C39.2289 89.9277 38.2472 89.9277 37.2811 89.7854L10.8577 85.8941C5.6474 85.1268 1.92517 80.4499 2.3468 75.2003L3.13059 65.4415C3.17339 64.9086 3.17339 64.3732 3.13059 63.8403L1.59744 44.7514L0.0642995 25.6625C0.0215021 25.1296 0.0215021 24.5942 0.0642995 24.0613L0.951656 13.013Z' fill='%23BC603B'/%3E%3C/svg%3E%0A");
    margin: 0 auto 20px;
  }

  .wrapper:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='90' viewBox='0 0 300 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.951656 13.013C1.32852 8.32072 4.92687 4.52663 9.5926 3.90199L37.4111 0.177653C38.2918 0.0597437 39.1843 0.0597437 40.065 0.177653L75.8786 4.97238L113.019 7.45856L150.16 4.97238L187.3 2.48619L224.441 4.97238L260.255 9.7671C261.135 9.88501 262.028 9.88501 262.908 9.7671L288.103 6.3941C293.845 5.62526 299.038 9.88241 299.409 15.6645L300 24.8619L298.722 44.7514L297.444 64.6409L298.131 75.338C298.465 80.5323 294.758 85.1141 289.609 85.8725L263.038 89.7854C262.072 89.9277 261.091 89.9277 260.125 89.7854L224.441 84.5304L188.101 81.6113C187.568 81.5685 187.033 81.5685 186.5 81.6113L151.16 84.45C150.495 84.5035 149.826 84.4902 149.163 84.4103L114.215 80.1994C113.421 80.1036 112.618 80.1036 111.823 80.1994L75.8786 84.5304L40.195 89.7854C39.2289 89.9277 38.2472 89.9277 37.2811 89.7854L10.8577 85.8941C5.6474 85.1268 1.92517 80.4499 2.3468 75.2003L3.13059 65.4415C3.17339 64.9086 3.17339 64.3732 3.13059 63.8403L1.59744 44.7514L0.0642995 25.6625C0.0215021 25.1296 0.0215021 24.5942 0.0642995 24.0613L0.951656 13.013Z' fill='%2328120380'/%3E%3C/svg%3E%0A");
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 360px;
    background-image: url("data:image/svg+xml,%3Csvg width='150' height='40' viewBox='0 0 150 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0801102 10.1631C0.499025 5.52681 4.10577 1.81639 8.72834 1.26629L18.1873 0.140628C18.9723 0.0472057 19.7657 0.0472056 20.5507 0.140628L37.9393 2.20994L56.5096 3.31492L75.0799 2.20994L93.6502 1.10497L112.22 2.20994L129.609 4.27926C130.394 4.37268 131.187 4.37268 131.972 4.27926L141.128 3.18966C145.612 2.65607 149.633 5.97539 149.959 10.479V10.479C149.986 10.859 149.986 11.2404 149.959 11.6204L149.361 19.8895L148.768 28.1003C148.737 28.5191 148.737 28.9395 148.768 29.3583V29.3583C149.101 33.968 145.781 38.0377 141.198 38.6376L132.089 39.8301C131.227 39.9429 130.354 39.9429 129.493 39.8301L112.22 37.5691L94.3624 36.2939C93.8882 36.2601 93.4122 36.2601 92.9379 36.2939L75.9699 37.5055C75.3777 37.5478 74.783 37.5373 74.1927 37.474L57.5745 35.6942C56.8666 35.6183 56.1526 35.6183 55.4446 35.6942L37.9393 37.5691L20.667 39.8301C19.8053 39.9429 18.9327 39.9429 18.071 39.8301L8.84289 38.6221C4.34904 38.0338 1.12094 34.003 1.52878 29.4892V29.4892C1.57446 28.9836 1.57446 28.475 1.52878 27.9694L0.798722 19.8895L0.0801102 11.9363C0.0268119 11.3465 0.026812 10.753 0.0801102 10.1631V10.1631Z' fill='%23BC603B'/%3E%3C/svg%3E%0A");
    margin: 0 auto 20px;

    .toggle {
      width: 100%;
      height: 60px;
    }
  }

  .wrapper:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='300' height='90' viewBox='0 0 300 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.951656 13.013C1.32852 8.32072 4.92687 4.52663 9.5926 3.90199L37.4111 0.177653C38.2918 0.0597437 39.1843 0.0597437 40.065 0.177653L75.8786 4.97238L113.019 7.45856L150.16 4.97238L187.3 2.48619L224.441 4.97238L260.255 9.7671C261.135 9.88501 262.028 9.88501 262.908 9.7671L288.103 6.3941C293.845 5.62526 299.038 9.88241 299.409 15.6645L300 24.8619L298.722 44.7514L297.444 64.6409L298.131 75.338C298.465 80.5323 294.758 85.1141 289.609 85.8725L263.038 89.7854C262.072 89.9277 261.091 89.9277 260.125 89.7854L224.441 84.5304L188.101 81.6113C187.568 81.5685 187.033 81.5685 186.5 81.6113L151.16 84.45C150.495 84.5035 149.826 84.4902 149.163 84.4103L114.215 80.1994C113.421 80.1036 112.618 80.1036 111.823 80.1994L75.8786 84.5304L40.195 89.7854C39.2289 89.9277 38.2472 89.9277 37.2811 89.7854L10.8577 85.8941C5.6474 85.1268 1.92517 80.4499 2.3468 75.2003L3.13059 65.4415C3.17339 64.9086 3.17339 64.3732 3.13059 63.8403L1.59744 44.7514L0.0642995 25.6625C0.0215021 25.1296 0.0215021 24.5942 0.0642995 24.0613L0.951656 13.013Z' fill='%2328120380'/%3E%3C/svg%3E%0A");
  }
}

@media screen and (max-width: 990px) {
  .faq-container {
    width: 95%;
  }

  .benefits-camels {
    display: none;
  }

  .wrapper {
    padding: 25px 23px;
  }
}

/* benefits */

/* tockenomics */

#tockenomics {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
}

.tockenomics-cloud img {
  position: absolute;
  pointer-events: none;
  z-index: 9;
}

#tockenomics-cloud-left {
  left: -1300px;
  top: 0;
}

#tockenomics-cloud-right {
  right: -1300px;
  bottom: 0;
}

.tockenomics-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
}

.tockenomics-title h4 {
  margin-bottom: 0;
  color: var(--button-accents);
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.tockenomics-title div {
  width: 100px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--button-accents);
  margin: 0 20px;
}

.tockenomics-header {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1.6em;
  margin-bottom: 50px;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-2nd);
  padding: 50px 80px;
  border-radius: 8px;
}

.details {
  display: flex;
  align-items: center;
}

.details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details ul li {
  color: var(--primary-text);
  margin: 15px 0;
}

.details ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.details ul li .chartLegendColor1 {
  background-color: #ffe600;
}

.details ul li .chartLegendColor2 {
  background-color: #b6db71;
}

.details ul li .chartLegendColor3 {
  background-color: #2eb9de;
}

.details ul li .chartLegendColor4 {
  background-color: #ff8e31;
}

.details ul li .chartLegendColor5 {
  background-color: #9f64d0;
}

@media screen and (max-width: 990px) {
  .chart-container {
    margin: auto;
  }
  .chart-stats {
    display: block;
    padding: 20px 0px;
  }
  .tockenomics-cloud {
    display: none;
  }

  .details {
    justify-content: center;
    margin-top: 30px;
  }
}

/* tockenomics */

/* conclusion */

#conclusion {
  position: relative;
  padding: 80px 0 200px;
  overflow: hidden;
  background-color: var(--background);
}

.conclusion-cloud img {
  position: absolute;
  pointer-events: none;
  z-index: 9;
}

#conclusion-cloud-left {
  left: -2800px;
  top: 100px;
}

#conclusion-cloud-right {
  right: -2800px;
  bottom: 20px;
}

.conclusion-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
}

.conclusion-title h4 {
  margin-bottom: 0;
  color: var(--button-accents);
  font-family: var(--secondary-font);
  font-size: 1.1em;
}

.conclusion-title div {
  width: 100px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--button-accents);
  margin: 0 20px;
}

.conclusion-header {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--white);
  font-size: 1.6em;
  margin-bottom: 50px;
}

.conclusion-image {
  width: 450px;
  height: 400px;
}

.conclusion-image img {
  width: 90%;
  transform: scale(0.2) rotate(90deg);
  transition: 0.5s;
}

.conclusion-content p {
  color: var(--white);
  line-height: 35px;
  margin-bottom: 0;
}

.conclusion-btn {
  margin-top: 60px;
}

.conclusion-btn a {
  text-decoration: none;
  color: var(--secondary-text);
  padding: 6px 30px;
  background: var(--button-accents);
  border: 1px solid var(--button-accents);
  box-shadow: 0px 10px 40px rgba(255, 230, 0, 0.5),
    inset -4px -4px 12px rgba(0, 0, 0, 0.15),
    inset 4px 4px 8px rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  z-index: 9999 !important;
}

.conclusion-btn a:hover {
  color: var(--secondary-text);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 15px 40px rgba(255, 230, 0, 0.7),
    inset -4px -4px 12px rgba(0, 0, 0, 0.15),
    inset 4px 4px 8px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 990px) {
  #conclusion {
    padding: 100px 0 200px;
  }

  .conclusion-header {
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--white);
    font-size: 1.4em;
    margin-bottom: 50px;
  }

  .conclusion-cloud {
    display: none;
  }

  .conclusion-image {
    width: 330px;
    height: 300px;
    margin: 0 auto 30px;
  }

  .conclusion-btn {
    text-align: center;
  }
}

/* conclusion */

/* footer */

#footer {
  background: url(./images/footer-bg-11.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  padding-top: 120px;
  position: relative;
  background-color: var(--background);
}

.footer-stars img {
  position: absolute;
  pointer-events: none;
  animation: starRotate 4s linear infinite;
}

@keyframes starRotate {
  0% {
    transform: scale(0.8) rotate(0deg);
    opacity: 0.6;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.footer-stars .footer-star1 {
  top: 160px;
  left: 140px;
  animation-delay: 1s;
}

.footer-stars .footer-star2 {
  top: 120px;
  left: 260px;
}

.footer-stars .footer-star3 {
  top: 350px;
  left: 200px;
  animation-delay: 2s;
}

.footer-stars .footer-star4 {
  top: 80px;
  left: 30%;
}

.footer-stars .footer-star5 {
  top: 180px;
  left: 50%;
  animation-delay: 1s;
}

.footer-stars .footer-star6 {
  top: 220px;
  left: 60%;
}

.footer-stars .footer-star7 {
  top: 140px;
  left: 65%;
  animation-delay: 3s;
}

.footer-stars .footer-star8 {
  top: 190px;
  left: 71%;
  animation-delay: 1s;
}

.footer-stars .footer-star9 {
  top: 190px;
  right: 10%;
  animation-delay: 2s;
}

.footer-content h2 {
  font-family: var(--primary-font);
  color: var(--white);
  font-size: 2.8em;
}

.footer-content p {
  font-family: var(--secondary-font);
  color: var(--white);
  font-weight: 300;
  margin: 10px 0 30px;
}

.footer-input {
  background-color: #3e2e59;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.footer-input input {
  width: calc(100% - 80px);
  background-color: transparent;
  border: none;
  padding-left: 10px;
  color: var(--white);
}

.footer-input input:focus {
  outline: none;
}

.footer-input button {
  border: none;
  width: 80px;
  height: 100%;
  border-radius: 8px;
  background: var(--button-accents);
}

.footer-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 300px;
}

.footer-navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navbar ul li {
  margin: 0 15px;
}

.footer-navbar ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
  transition: 0.5s;
}

.footer-navbar ul li a:hover {
  color: var(--button-accents);
}

.copyright {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.copyright p {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-family: var(--secondary-font);
  margin-bottom: 0;
}

.footer-scroll-text-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: var(--button-accents);
  padding: 20px;
  transform: rotate(3deg);
  position: absolute;
  top: -70px;
}

.footer-scroll-text {
  font-size: 1.4em;
  white-space: nowrap;
  font-weight: 600;
  animation: footerScrollText 20s linear infinite;
  animation-delay: -40s;
}

@keyframes footerScrollText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.footer-scroll-text img {
  margin: 0 80px;
  pointer-events: none;
}

@media screen and (max-width: 2000px) {
  #footer {
    height: 700px;
  }

  .footer-navbar {
    margin-top: 200px;
  }
}

@media screen and (max-width: 990px) {
  #footer {
    height: 600px;
  }

  .footer-stars {
    display: none;
  }

  .footer-navbar {
    display: none;
  }

  .footer-content h2 {
    font-size: 2.2em;
  }

  .footer-moon {
    display: none;
  }
}

/* footer */
